@use "../../styles/funcs";

.jg-progress-circle {
  position: relative;
}

.jg-progress-circle-fill,
.jg-progress-circle-rail {
  transition: all 0.15s ease;
}

.jg-progress-circle-content {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jg-progress-line-rail {
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
}

.jg-progress-line-fill {
  border-radius: 8px;
  transition: width 0.15s ease;
}

.jg-progress-line-fill-indeterminate {
  position: relative;
  opacity: 0.7;
  animation: ani-slide-loading 1.5s infinite linear;
}

@keyframes ani-slide-loading {
  0% {
    inset-inline-start: -45%;
  }

  100% {
    inset-inline-start: 100%;
  }
}
