
.jg-data-table-empty {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 85px;
  font-size: .85em;
  opacity: .5;

  svg {
    font-size: 35px;
  }
}

