@use "../../../styles/funcs";

.jg-radio-text {
  font-size: 0.95em;
  color: funcs.get-var("fg3");
}

.jg-radio {
  display: flex;
  align-items: center;
  padding: 2px 4px;
}

.jg-radio-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.33em;
  height: 1.33em;
  margin-right: 4px;
  background: funcs.get-var("bg4");
  border: 1px solid funcs.get-var("t-border");
  border-radius: 50%;
  cursor: default;
  transition: background 0.3s;

  &::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: center;
    content: "";
    background: funcs.get-var("t-bg1");
    border-radius: 50%;
    transition: transform 0.2s;
  }
}

.jg-radio[data-checked] {
  .jg-radio-circle {
    background: funcs.get-var("t-hl");
    border-color: funcs.get-var("t-hl");
  }

  .jg-radio-circle::after {
    transform: scale(0.475);
  }
}

.jg-radio[data-disabled] {
  pointer-events: none;
  opacity: 0.7;
}

.jg-radio:not([data-disabled]) {
  .jg-radio-circle:active {
    &::after {
      transform: scale(0.535);
    }
  }

  &:not([data-checked]) {
    .jg-radio-circle:active {
      background: funcs.get-var("t-bg6");
    }

    .jg-radio-circle:hover {
      background: funcs.get-var("t-bg6");
    }
  }
}
