@use "../../../styles/funcs";

.jg-time-picker-overlay {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0);
  opacity: 0;
  transition: opacity 0.2s, background 0.2s, color 0.2s;
}

.jg-time-picker-trigger {
  position: relative;
  display: inline-flex;
  font-size: 14px;
  cursor: pointer;
  background: funcs.get-var("t-bg1");
  border: 1px solid funcs.get-var("t-border");
  border-radius: 0.25em;
  box-shadow: funcs.get-var("shadow1");
  transition: border-color 0.2s, opacity 0.2s, color 0.2s;

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.44;
  }

  &:hover {
    .jg-time-picker-overlay {
      opacity: 0.03;
    }
  }

  &:active {
    box-shadow: none;
    opacity: 0.7;

    .jg-time-picker-overlay {
      opacity: 0.08;
    }
  }
}

.dark .jg-time-picker-trigger {
  .jg-time-picker-overlay {
    background: rgb(255 255 255);
    opacity: 0.02;
  }

  &:hover {
    .jg-time-picker-overlay {
      opacity: 0.04;
    }
  }

  &:active {
    .jg-time-picker-overlay {
      opacity: 0.01;
    }
  }
}

.jg-time-picker-trigger-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &:not(:last-child) {
    &::after {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: 0;
      display: flex;
      align-items: center;
      width: 2px;
      content: ":";
    }
  }
}

.jg-time-picker-panel {
  padding: 0;
  margin: 6px;
  font-size: 14px;
  background: funcs.get-var("t-bg1");
  border-radius: 0.25em;
  box-shadow: funcs.get-var("shadow8");
  animation-duration: 150ms;
  animation-timing-function: funcs.get-var("bezier");

  &[data-floating-status="opening"] {
    transform-origin: center center;
    animation-name: time-picker-clip-open;
  }
}

.dark .jg-time-picker-panel {
  background: funcs.get-var("t-bg2");
}

@keyframes time-picker-clip-open {
  0% {
    opacity: 0;
    transform: scaleY(0.8);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
