@use '../../styles/funcs';

.jg-scrollbar {
  position: absolute;
  background: transparent;
  opacity: .65;
  transition: all 300ms;

  &:hover {
    opacity: .85;
  }

  &.is-dragging {
    opacity: 1 !important;
  }

  &.is-hidden{
    opacity: 0;
  }

  &.jg-scrollbar-vertical {
    width: 6px;

    &:hover,&.is-dragging {
      width: 10px;
    }
  }

  &.jg-scrollbar-horizontal {
    height: 6px;

    &:hover,&.is-dragging {
      height: 10px;
    }
  }
}

.jg-scrollbar-thumb {
  cursor: pointer;
  border-radius: 6px;
  transition: all 30ms;
}
