@use "../../styles/funcs";

/* content */
.jg-modal-wrap {
  inset: 0;
  display: block;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: funcs.get-var("t-border") transparent;
  pointer-events: auto;
}

.jg-modal {
  animation-duration: 200ms;
  animation-timing-function: funcs.get-var("bezier");
  margin: 0 auto;
  max-width: calc(100vw - 32px);

  &[data-modal-status="closing"] {
    pointer-events: none;
    animation-name: modal-closing;
  }

  &[data-modal-status="opening"] {
    pointer-events: none;
    animation-name: modal-opening;
  }
}

.jg-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  background: funcs.get-var("t-bg2");
  border: 1px solid funcs.get-var("t-border");
  border-radius: 6px;
  box-shadow: funcs.get-var("shadow8");
  overflow: hidden;
}

@keyframes modal-closing {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.2);
  }
}

@keyframes modal-opening {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  85% {
    opacity: 1;
    transform: scale(1.0125);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* content end */

/* mask */
.jg-modal-mask {
  background: rgb(0 0 0 / 40%);
  opacity: 0;
  transition: opacity 250ms;

  &[data-modal-status^="clos"] {
    opacity: 0;
  }

  &[data-modal-status^="open"] {
    opacity: 1;
  }
}

/* mask end */

.jg-modal-header {
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
}

.jg-modal-header-title {
  font-size: funcs.get-var("fs-md");
  font-weight: bold;
}

.jg-modal-header-description {
  font-size: funcs.get-var("fs-sm");
  color: funcs.get-var("fg3");
  margin-top: 4px;
}

.jg-modal-header-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  top: 12px;
  right: 16px;
}

.jg-modal-footer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid funcs.get-var("smoke");
  padding: 12px 16px;
  margin-top: 16px;
  background: funcs.get-var("darken");
}
