@use '../../styles/funcs';

.jg-spin-normal {
  position: relative;
  box-sizing: border-box;
  animation: ani-rotate 1.5s infinite linear;

  &>div {
    position: absolute;
    background-color: funcs.get-var('t-hl');
    border-radius: 100%;
    transform: translate(-50%, -50%);
  }

  &>div:nth-child(1) {
    top: 0;
    left: 50%;
    z-index: 1;
  }

  &>div:nth-child(2) {
    top: 50%;
    left: 100%;
    z-index: 2;
    opacity: .85;
  }

  &>div:nth-child(3) {
    top: 100%;
    left: 50%;
    z-index: 3;
    opacity: .7;
  }

  &>div:nth-child(4) {
    top: 50%;
    left: 0;
    z-index: 4;
    opacity: .55;
  }
}

.jg-spin-is-spinning {
  pointer-events: none;
  opacity: .5;
}


@keyframes ani-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
