@use "../../../styles/funcs";

.jg-switcher {
  display: flex;
  align-items: center;

  &[data-size="small"] {
    height: 24px;
    font-size: 13px;
  }

  &[data-size="medium"] {
    height: 32px;
    font-size: 14px;
  }

  &[data-size="large"] {
    height: 40px;
    font-size: 16px;
  }
}

$control-height: 1.375em;
$thumb-pad: calc($control-height / 10);
$thumb-size: $control-height - $thumb-pad * 2;
$long-thumb: $thumb-size + 0.15em;
$checked-offset: $thumb-size + $thumb-pad;
$active-checked-offset: $checked-offset + 0.15em;

.jg-switcher-control {
  position: relative;
  display: inline-flex;

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.6;
  }

  width: 2.5em;
  height: $control-height;
  background: funcs.get-var("fg5");
  border-radius: $control-height;

  .jg-switcher-thumb {
    position: absolute;
    top: $thumb-pad;
    left: $thumb-pad;
    width: $thumb-size;
    height: $thumb-size;
    background: funcs.get-var("t-bg1");
    border-radius: 9999px;
    box-shadow: funcs.get-var("shadow2");
    transition: left 0.2s, width 0.2s;
  }

  &:active {
    .jg-switcher-thumb {
      width: $long-thumb;
    }

    &:has([data-checked]) .jg-switcher-thumb {
      left: calc(100% - $active-checked-offset);
    }
  }

  &:hover {
    background: funcs.get-var("fg4");
  }

  &:has([data-checked]) {
    background: funcs.get-var("t-hl");

    .jg-switcher-thumb {
      left: calc(100% - $checked-offset);
    }
  }
}

.jg-switcher-native:focus-visible + .jg-switcher-control {
  outline: 1px solid funcs.get-var("t-hl");
  outline-offset: 1px;
}
