@use "../../../styles/funcs";

.jg-checkbox-item {
  display: flex;
  align-items: center;

  &[data-small] {
    height: 24px;
    font-size: 13px;
  }

  &[data-medium] {
    height: 32px;
    font-size: 14px;
  }

  &[data-large] {
    height: 40px;
    font-size: 16px;
  }

  &[data-disabled] {
    opacity: 0.6;
    pointer-events: none;
  }
}

.jg-checkbox-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.275em;
  height: 1.275em;
  background: funcs.get-var("t-bg1");
  border: 1px solid funcs.get-var("t-border");
  border-radius: 0.25em;

  &:not([data-checked]):hover {
    background: funcs.get-var("t-bg3");
  }

  &[data-checked] {
    background: funcs.get-var("t-hl");
  }

  .jg-checkbox-icon {
    font-size: 0.9em;
    color: funcs.get-var("t-bg1");
  }
}
