.jg-tiny-table-empty {
  position: sticky;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85px;
  font-size: 0.85em;
  opacity: 0.5;

  svg {
    font-size: 35px;
  }
}

.jg-tiny-table-cell {
  padding: 0 8px;
}
