.jg-tiny-table-empty {
  position: sticky;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.85em;
  opacity: 0.5;

  svg {
    font-size: 35px;
  }
}
