@use "../../../styles/funcs";

.jg-combo-box-list {
  padding: 4px 0;
  margin: 6px;
  font-size: funcs.get-var("fs-14");
  line-height: funcs.get-var("lh-14");
  background: funcs.get-var("t-bg1");
  border-radius: 0.25em;
  box-shadow: funcs.get-var("shadow8");
  animation-duration: 150ms;
  animation-timing-function: funcs.get-var("bezier");

  &[data-size="small"] {
    font-size: funcs.get-var("fs-12");
    line-height: funcs.get-var("lh-12");
  }

  &[data-size="large"] {
    font-size: funcs.get-var("fs-16");
    line-height: funcs.get-var("lh-16");
  }

  &[data-floating-status="opening"] {
    transform-origin: funcs.get-var("combo-box-list-transform-origin");
    animation-name: clip-open;
  }
}

.dark .jg-combo-box-list {
  background: funcs.get-var("t-bg2");
}

.jg-combo-box-scrollarea {
  padding: 0 4px;
}

.jg-combo-box-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.jg-combo-box-item {
  padding: 2px 0;
  color: funcs.get-var("fg3");

  .jg-combo-box-item-inner {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > div {
    position: relative;
    padding-left: 8px;
    cursor: pointer;
    border-radius: 0.2em;
  }

  &:hover > div {
    background: funcs.get-var("t-bg4");
  }

  &[data-highlight] > div {
    background: funcs.get-var("t-bg4");
  }

  &[data-selected] > div {
    color: funcs.get-var("fg2") !important;
    background: funcs.get-var("t-bg4") !important;

    &::after {
      position: absolute;
      top: 24%;
      bottom: 24%;
      left: 0;
      display: block;
      width: 4px;
      content: "";
      background: funcs.get-var("t-hl");
      border-radius: 4px;
    }
  }
}

.jg-combo-box-list[data-floating-status="opening"] .jg-combo-box-item:hover {
  background: none;
}

.jg-combo-box-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  color: funcs.get-var("fg4");
  transform: translateY(-50%);
  transition: top 100ms;
}

.jg-combo-box-trigger {
  .jg-btn-content {
    width: 100%;
    justify-content: space-between;
  }

  &:active {
    .jg-combo-box-arrow {
      top: 60%;
    }
  }
}

@keyframes clip-open {
  0% {
    opacity: 0;
    transform: scaleY(0.8);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
