@use '../../../styles/funcs';

.jg-input-suffix, .jg-input-prefix {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: funcs.get-var("fg4");
  white-space: nowrap;
  transition: color .3s funcs.get-var("bezier");
}

.jg-input-prefix {
  margin-left: 8px;
}

.jg-input-suffix {
  margin-right: 8px;
}


.jg-input-clear {
  position: absolute;
  inset-inline-end: 0;
  top: 50%;
  right: 8px;
  color: funcs.get-var('fg4');
  pointer-events: none;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-50%);
  transition-timing-function: funcs.get-var('bezier');
  transition-duration: 250ms;
  transition-property: opacity, color;

  &:hover {
    color: funcs.get-var('t-fg1');
  }
}

.jg-input-password-switcher {
  position: absolute;
  inset-inline-end: 0;
  top: 50%;
  right: 8px;
  color: funcs.get-var('fg4');
  cursor: pointer;
  transform: translateY(-50%);
  transition-timing-function: funcs.get-var('bezier');
  transition-duration: 250ms;
  transition-property: opacity, color;

  &:hover {
    color: funcs.get-var('t-fg1');
  }
}

.jg-input-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  min-width: 3em;
  height: funcs.get-var('h-medium');
  font-size: funcs.get-var('fs-14');
  line-height: funcs.get-var('lh-14');
  border: 0;

  &::before {
    position: absolute;
    inset: 0;
    content: '';
    background: funcs.get-var('t-bg2');
    border: 1px solid funcs.get-var('t-border');
    border-bottom-color: funcs.get-var('fg4');
    border-radius: .25em;
  }

  &[data-small] {
    height: funcs.get-var('h-small');
    font-size: funcs.get-var('fs-12');
    line-height: funcs.get-var('lh-12');
  }

  &[data-large] {
    height: funcs.get-var('h-large');
    font-size: funcs.get-var('fs-16');
    line-height: funcs.get-var('lh-16');
  }

  &:hover {
    .jg-input-clear {
      pointer-events: auto;
      opacity: 1;
    }

    .jg-input-suffix:not(:last-child) {
      opacity: 0;
    }
  }

  &[data-disabled] {
    pointer-events: none;
    opacity: .6;
  }

  &[data-readonly] {
    pointer-events: none;
  }

  &[data-focused] {
    &::before {
      background: funcs.get-var('t-bg1');
      border-bottom-color: funcs.get-var('t-hl');
      border-bottom-width: 2px;
    }

    .jg-input-clear {
      background: funcs.get-var('t-bg1');
    }
  }

  &:not([data-focused]):hover {
    &::before {
      background: funcs.get-var('t-bg3');
    }
  }
}







.jg-input-native {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 4px 8px;
  margin: 0;
  resize: none;
  outline: none;
  border: none;

  &::placeholder {
    color: funcs.get-var("fg4");
  }
}

