@use '../../../styles/funcs';

.jg-input-clear {
  position: absolute;
  top: 2px;
  bottom: 3px;
  font-size: .85em;
  color: funcs.get-var('fg4');
  pointer-events: none;
  background: funcs.get-var('t-bg3');
  opacity: 0;
  transition: opacity .25s funcs.get-var('bezier');
}

.jg-input-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 3em;
  height: 32px;
  font-size: 14px;
  border: 0;

  &:hover {
    .jg-input-clear {
      pointer-events: auto;
      opacity: 1;
    }
  }

  &::before {
    position: absolute;
    inset: 0;
    content: '';
    background: funcs.get-var('t-bg2');
    border: 1px solid funcs.get-var('t-border');
    border-bottom-color: funcs.get-var('fg4');
    border-radius: .25em;
  }

  &[data-disabled] {
    pointer-events: none;
    opacity: .6;
  }

  &[data-readonly] {
    pointer-events: none;
  }

  &[data-focused] {
    &::before {
      background: funcs.get-var('t-bg1');
      border-bottom-color: funcs.get-var('t-hl');
      border-bottom-width: 2px;
    }

    .jg-input-clear {
      background: funcs.get-var('t-bg1');
    }
  }

  &:not([data-focused]):hover {
    &::before {
      background: funcs.get-var('t-bg3');
    }
  }
}


.jg-input-suffix, .jg-input-prefix {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: funcs.get-var("fg4");
  white-space: nowrap;
  transition: color .3s funcs.get-var("bezier");

  svg {
    margin-bottom: -.15em;
    font-size: 1.15em;
  }
}

.jg-input-prefix {
  margin-left: 8px;
}

.jg-input-suffix {
  margin-right: 8px;
}

.jg-input-native {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 4px 8px;
  margin: 0;
  resize: none;
  outline: none;
  border: none;

  &::placeholder {
    color: funcs.get-var("fg4");
  }
}

