.jg-table {
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}

.jg-table-head {
  position: relative;
  padding: 0.5em 0.6em;
  font-size: 1.05em;
  text-align: left;
  background-color: var(--jg-t-bg3);
  border-bottom: 1px solid var(--jg-t-border);

  &::after,
  &::before {
    position: absolute;
    top: 0.75em;
    bottom: 0.75em;
    z-index: 1;
    width: 1px;
    content: "";
    background-color: var(--jg-t-border);
  }

  &::after {
    right: 0;
  }

  &::before {
    left: -1px;
  }

  &:first-child {
    &::before {
      display: none;
    }
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.jg-table-cell {
  position: relative;
  padding: 8px 4px;
  text-align: left;
  overflow-wrap: break-word;
  border-bottom: 1px solid var(--jg-t-border);
}

[data-bordered] {
  .jg-table-head {
    &::after,
    &::before {
      top: 0;
      bottom: 0;
    }
  }

  .jg-table-cell:not(:last-child) {
    border-right: 1px solid var(--jg-t-border);
  }
}

.jg-table-body .jg-table-row {
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background: var(--jg-t-bg4);
  }

  &:last-child {
    .jg-table-cell {
      border-bottom: none;
    }
  }
}

.jg-table-footer {
  display: flex;
  margin-top: -1px;
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  background: var(--jg-t-bg3);
  border-top: 1px solid var(--jg-t-border);
}

.jg-can-scroll-right::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 16px;
  z-index: 2;
  pointer-events: none;
  box-shadow: inset -10px 0 8px -8px var(--jg-fg5);
}

.jg-can-scroll-left::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 16px;
  z-index: 2;
  pointer-events: none;
  box-shadow: inset 10px 0 8px -8px var(--jg-fg5);
}
